<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar>
    <ion-img class="logo" src="../assets/logo.png" alt="Lito"></ion-img>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>